body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f1f3f5;
  color: #333;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin: 2%;
  margin-bottom: 0;
  border: 2px solid #007bff;
  transition: transform 0.3s ease;
}

header:hover {
  transform: translateY(-5px);
}

header h1 {
  margin: 0;
  font-size: 28px;
  color: #007bff;
  font-weight: bold;
}

.login-buttons button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 12px 25px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 8px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.login-buttons button:hover {
  background-color: #0056b3;
}

.negative h3 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: auto;
}

.negative {
  margin-top: -35px;
}

main {
  text-align: center;
  padding: 60px 20px;
}

.hero {
  margin-bottom: 50px;
}

.hero img {
  max-width: 100%;
  width: 500px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.hero h2 {
  font-size: 36px;
  margin: 20px 0 10px;
  color: #333;
}

.hero p {
  font-size: 18px;
  margin: 5px 0;
  color: #555;
}

.trusted-companies {
  margin-bottom: 50px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border: 2px solid #f0f0f0;
}

.trusted-companies h3 {
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: normal;
  color: #007bff;
}

.companies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.companies span {
  margin: 15px 30px;
  font-size: 20px;
  color: #333;
}

.stats {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.stats-parent-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  padding: 20px;
}

.stats-container {
  margin: 20px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 25px;
  background-color: #fffbcc;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  border: 1px solid #007bff;
  border-radius: 12px;
  transition: transform 0.3s ease;
}

.stats-container:hover {
  transform: translateY(-5px);
}

.stat-item {
  text-align: center;
  color: #007bff;
}

.stat-number {
  font-size: 2.5em;
  font-weight: bold;
  padding-bottom: 20%;
  padding-top: 30%;
}

.stat-description {
  margin-top: 10px;
  font-size: 1.2em;
}

.start-career {
  margin: 10px;
  width: 100%;
  text-align: center;
  padding: 20px;
  border: 1px solid #007bff;
  border-radius: 10px;
  background-color: #d1ecf1;
  color: #0c5460;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.start-career:hover {
  background-color: #b8daff;
  transform: translateY(-5px);
}

.start-career h4 {
  font-size: 28px;
  margin-bottom: 20px;
  padding-bottom: 5%;
  color: #333;
}

.start-career button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 12px 25px;
  cursor: pointer;
  border-radius: 8px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.start-career button:hover {
  background-color: #0056b3;
}
